@model MVCRiceStore.Models.ClientOrder

@{
    ViewBag.Title = "Create";
    List<SelectListItem> storeList = ViewBag.StoreList;
    List<SelectListItem> riceList = ViewBag.RiceList;
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">@Html.Label("Stores")</div>
            <div class="col-md-8">@Html.DropDownListFor(model => model.StoreId, storeList)</div>
        </div>

        <div class="form-group">
            <div class="col-lg-4">@Html.Label("Rices")</div>
            <div class="">@Html.DropDownListFor(model => model.RiceId, riceList)</div>
        </div>
    </div>
}